h1 {color: blue;background-color: yellow;font-family: 'Times New Roman', Times, serif;font-weight: bold; font-size: 3em;text-align: center;}

p {font-family: Verdana, Geneva, Tahoma, sans-serif;text-align: justify;color: navy;}

body {background-color: powderblue;}

h2 {background-color: black;color: white;font-family: Arial, Helvetica, sans-serif;font-size: 15px;}

h3 {color: blue;background-color: orange;font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 20px;}

table,th,td {background-color: lightblue; border-style: dotted;border-width: 2px;color: blue } ;

a {text-decoration: none;}

a:link {color: purple; font-size: 2em;}

a:visited {color: grey;}

a:hover {color: red;font-size: 20pt;font-family: Arial, Hel4vetica, sans-serif;background-color: yellow;}

a:active {color: green;font-weight: bold;}

.importante {background-color: red;color: yellow;}

.titulo-grande {font-weight: bold;font-style: italic;color: green;text-align: center;}

#retrato {width: 200px;height: 300px;border-style: solid; color: blue; }